.banner {
  width: 100%; 
  margin: 0;                    
  background: linear-gradient(135deg, #ffe0cc, #ffffff); 
  padding: 6rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;          
}
.banner-content {
  text-align: center;
  max-width: 800px;
}

.banner-content h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #121212;
  margin-bottom: 1rem;
  font-family: 'Inter', sans-serif;
}

.banner-content p {
  font-size: 1.3rem;
  color: #555;
  margin-bottom: 2rem;
}

.banner-btn {
  padding: 0.8rem 1.6rem;
  border-radius: 25px;
  border: none;
  background: #ff6e00;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  /* transition: background 0.3s ease; */
  /* transition: all 0.2s ease; */
  /* animation: pulseGlow 1s infinite; */
  text-decoration: none;
  font-family: 'Inter', sans-serif;
}

.banner-btn:hover {
  background: #99460f;
}

/* Responsive */
@media (max-width: 768px) {
  .banner-content h1 {
    font-size: 1.8rem;
  }

  .banner-content p {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  .banner {
    padding: 4rem 1rem;
  }

  .banner-content h1 {
    font-size: 1.5rem;
  }

  .banner-content p {
    font-size: 0.9rem;
  }
}
