.wcu {
  max-width: 1200px;
  margin: 1rem auto;
  padding: 2rem;
  font-family: "Inter", sans-serif;
   background: linear-gradient(
    135deg,
    #ffffff 40%,        
    #e6783404 100%,       
    #f0f4ff44 0%     
  );
}

.wcu-header {
  text-align: center;
  margin-bottom: 3rem;
  background: linear-gradient(
    135deg,
    #ffffff 40%,        
    #e6783404 100%,       
    #f0f4ff44 0%     
  );
}

.wcu-header h2 {
  font-size: 2rem;
  font-weight: 700;
  color: #101622;
  font-family: "Inter", sans-serif;
}

.wcu-header p {
  font-size: 1.5rem;
  color: #555;
  font-family: "Inter", sans-serif;
  margin-top: 0.5rem;

}

/* Body layout */
.wcu-body {
  display: flex;
  gap: 2rem;
  background: linear-gradient(
    135deg,
    #ffffff 40%,        
    #e6783404 100%,       
    #f0f4ff44 0%     
  );
}

/* Left card */
.wcu-left {
  flex: 1;
 background: linear-gradient(
    135deg,
    #ffffff 40%,        
    #e6783404 100%,       
    #f0f4ff44 0%     
  );
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 2rem;
}

.wcu-left h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: #1f1a16;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
}

.wcu-left p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1rem;
  font-family: "Inter", sans-serif;
  /* border: #FF6E00 2px solid; */
}

.wcu-left-images {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
}

.wcu-left-images img {
  flex: 1;
  border-radius: 8px;
  object-fit: cover;
  height: 140px;
}

/* Right card */
.wcu-right {
  flex: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
  background: linear-gradient(
    135deg,
    #ffffff 40%,        
    #e6783404 100%,       
    #f0f4ff44 0%     
  );
}

.wcu-feature {
  background: linear-gradient(
    135deg,
    #ffffff 40%,        
    #e6783404 100%,       
    #f0f4ff44 0%     
  );
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  padding: 1.5rem;
  text-align: left;
  transition: all 0.3s ease, transform 0.3s ease; 
}

.feature-icon {
  font-size: 1.5rem;
  color: #FF6E00;
  margin-bottom: 0.8rem;

  /* Circle background */
  background: #fce5d6;        
  border-radius: 50%;        
  padding: 0.8rem;            
  display: inline-flex;       
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

/* Hover effect */
.wcu-feature:hover {
  background: #FF6E00;        
  
}

.wcu-feature:hover p {
  transform: translateY(-6px) scale(1.05); 
  color: #fff;                
}

.wcu-feature:hover h4 {
  color: #fff;                
}

.wcu-feature:hover .feature-icon {
  background: #fff;
  color: #FF6E00;
  transform: rotate(10deg); 
}

.wcu-feature h4 {
  font-size: 1.2rem;
  font-weight: 600;
  color: #0b1324;
  margin-bottom: 0.5rem;
}

.wcu-feature p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}

/* Responsive */
@media (max-width: 992px) {
  .wcu-body {
    flex-direction: column;
  }

  .wcu-right {
    grid-template-columns: 1fr;
    width: 90%;
  }
}
